name: iOS Java Automation
on: [push, workflow_dispatch]

jobs:
  run-tests:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Appium
        run: |
          npm install -g appium
          appium driver install xcuitest

      - name: Start Appium Server
        run: appium & 

      - name: Wait for Server
        run: sleep 60

      - name: Run Test with Maven
        run: mvn compile exec:java -Dexec.mainClass="AppTest"
