name: iOS Automation Run
on: [push, workflow_dispatch]

jobs:
  run-tests:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Install Appium & Driver
        run: |
          npm install -g appium
          appium driver install xcuitest

      - name: Start Appium Server
        run: appium &

      - name: Run Python Script
        run: python test_script.py
